<div class="login_form_container">

  <h1>Log in</h1>

  <div class="login_form">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.email_field :email, :placeholder => "Email" %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <%= f.submit "Log in", class: "btn-submit" %>
    <% end %>
  </div> <!-- login_form -->
</div> <!-- login_form_container -->
