
Please note that you can't edit your password here at this time. We're working on it :)

<div class="form">

  <%= form_for @user do |f| %>
    <%= render partial: "form", locals: {f: f} %>
  <% end %>
  
</div>