<% if current_user.id == @user.id %>
  <% title("Edit User Profile") %>

  <%= render partial: "user_validation_errors", locals: { user: @user } %>

  <div class="form">

    <%= form_for @user do |f| %>
      <%= render partial: "edit_form", locals: { f: f } %>
    <% end %>

  </div>
<% end %>
