<%= render partial: "application/edit_object_instructions", locals: { object: @resource } %>

<div class="form">

  <%= form_for @user do |f| %>
    <%= render partial: "form", locals: {f: f} %>
  <% end %>
  
</div>