
<title> New User </title>

<%= render partial: "application/new_object_instructions", locals: { object: @user } %>
<%= render partial: "user_validation_errors", locals: { user: @user } %>

<div class="form">

  <%= form_for @user do |f| %>
    <%= render partial: "form", locals: {f: f} %>
  <% end %>
  
</div>