<%= form_for @user do |f| %>

  <div class="password">
    <%= f.label :password, :placeholder => "Password" %>
    <%= f.password_field :password, :placeholder => "Password" %>
  </div>

  <%= f.submit "Update Password" id: 'submit_form' %>
<% end %>
