
<% title("Subject Index") %>

<%= link_to "Categories", categories_path %> <br> <br>

An existing category must be selected to make a new subject from this page:

<ul>
  <% @subjects.each do |subject| %>
    <li><%= subject.category.name %> > <%= render partial: "application/index", locals: { object: subject } %></li>
  <% end %>
</ul>
