You must be in a category to create a new subject (for now)
<ul>
  <%= @subjects.each do |subject| %>
    <li><%= render partial: "application/index", locals: { object: subject } %></li>
  <% end %>
</ul>