
<% title("New Subject") %>

<%= render partial: "application/new_object_instructions", locals: { object: @subject } %>

<div class="form">

  <%= form_for [@subject.category, @subject], :url => category_subjects_path(@subject.category, @subject) do |f| %>

    <%= render partial: "application/form", locals: {f: f, category_id: @subject.category.id } %>
  <% end %>

</div>
