
<title><% title("New Subject") %></title>

<%= render partial: "application/new_object_instructions", locals: { object: @subject } %>

<%= render partial: "flashnotice", locals: { flash: flash } %>

<div class="form">

  <%= form_for @subject do |f| %>

    <%= render partial: "application/form", locals: {f: f, category_id: @subject.category.id } %>
  <% end %>
  
</div>