
<title><% title(@subject.name.capitalize + "'s Details") %></title>

<%= render partial: 'application/navigation', locals: { object: @subject } %>

<br><br>

<%= link_to "Edit or delete this subject.", edit_subject_path %> <br>

<%= link_to "Make a new Resource!", new_resource_helper(@subject) %>


<ul>
  <% @subject.resources.each do |resource| %>

    <li><%= render partial: "application/index", locals: { object: resource } %></li>
  <% end %>
</ul>