<h1>Resources#edit</h1>
<p>Find me in app/views/resources/edit.html.erb</p>


  <%= form_for @resource do |f| %>
    <%= render partial: "application/form", locals: {f: f, subject_id: @resource.subject_id } %>
  <% end %>