
<title><%= title("Edit " + @resource.name.capitalize) %></title>

<%= render partial: "application/edit_object_instructions", locals: { object: @resource } %>

<%= form_for @resource do |f| %>
  <%= render partial: "application/form", locals: {f: f, subject_id: @resource.subject_id } %>
<% end %>