/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url("/images/british_lib_shade.jpg");
  background-size: cover;
  width: 100%;
}

#login {
  text-align: right;
  position: fixed;
  z-index: 100;
  top: 20px;
  right: 15px;
}

#headder {
  background-color: #F4F5F9;
  position: fixed;
  width: 100%;
  height: 90px;
  border: 5px solid #0F1871;
  top: 0;
  box-sizing: border-box;
}

#title {
  padding: 0 0 0 3%;
  vertical-align: middle;
}

#content {
  background-color: #F4F5F9;
  margin: 100px 2.5% 0;
  border: 5px solid #97C9E8;
  padding: 2%;
  width: 90%;
  /*box-sizing: border-box;*/
}

#slogan {
  background-color: #97C9E8;
  position: fixed;
  bottom: 0;
  width: 100%;
}

a#logout, a#home {
  font: bold 1em Arial;
  background-color: #FCB757;
  border-radius: 5px;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

a#logout:hover {
  background-color: red;
}

a#home:hover {
  background-color: lightgreen;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        /*Categories*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.category {
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding-bottom: 1em;
  width: 49.5%;
  border-radius: 5px;
  position: relative;

  background: #c9c9c9;
  background: -moz-linear-gradient(top,  #c9c9c9 0%, #e5e5e5 0%, #e5e5e5 62%, #c9c9c9 100%);
  background: -webkit-linear-gradient(top,  #c9c9c9 0%,#e5e5e5 0%,#e5e5e5 62%,#c9c9c9 100%);
  background: linear-gradient(to bottom,  #c9c9c9 0%,#e5e5e5 0%,#e5e5e5 62%,#c9c9c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#c9c9c9',GradientType=0 );


  display: inline-block;
  vertical-align: center;
}

.edit_feature {
  font-size: .7em;
  position: absolute;
  bottom: .5%;
  right: 1%;
}

.delete {
  display: inline-block;
}

.edit {
  display: block;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        /*Topics*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.topic {
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding-bottom: 1em;
  width: 49.5%;
  border-radius: 5px;
  position: relative;

  background: #c9c9c9;
  background: -moz-linear-gradient(top,  #c9c9c9 0%, #e5e5e5 0%, #e5e5e5 62%, #c9c9c9 100%);
  background: -webkit-linear-gradient(top,  #c9c9c9 0%,#e5e5e5 0%,#e5e5e5 62%,#c9c9c9 100%);
  background: linear-gradient(to bottom,  #c9c9c9 0%,#e5e5e5 0%,#e5e5e5 62%,#c9c9c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#c9c9c9',GradientType=0 );


  display: inline-block;
  vertical-align: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        /*Resources*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.resource {
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding-bottom: 1em;
  width: 49.5%;
  border-radius: 5px;
  position: relative;

  background: #c9c9c9;
  background: -moz-linear-gradient(top,  #c9c9c9 0%, #e5e5e5 0%, #e5e5e5 62%, #c9c9c9 100%);
  background: -webkit-linear-gradient(top,  #c9c9c9 0%,#e5e5e5 0%,#e5e5e5 62%,#c9c9c9 100%);
  background: linear-gradient(to bottom,  #c9c9c9 0%,#e5e5e5 0%,#e5e5e5 62%,#c9c9c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#c9c9c9',GradientType=0 );


  display: inline-block;
  vertical-align: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/
          /*Users*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#username {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

#user_level {
  background-color: lightgreen;
  width: 110px;
}

.user_headers {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}

.user_links {
  background: #c9c9c9;
  background: -moz-linear-gradient(top,  #c9c9c9 0%, #e5e5e5 0%, #e5e5e5 62%, #c9c9c9 100%);
  background: -webkit-linear-gradient(top,  #c9c9c9 0%,#e5e5e5 0%,#e5e5e5 62%,#c9c9c9 100%);
  background: linear-gradient(to bottom,  #c9c9c9 0%,#e5e5e5 0%,#e5e5e5 62%,#c9c9c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#c9c9c9',GradientType=0 );

  width: 49.7%;
  display: inline-block;
  text-align: center;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* Interactive CSS */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/


@media only screen and (max-width: 850px) {
  .user_links {
  width: 100%;
}


@media only screen and (max-width: 750px) {
  .category, .topic, .resource{
    width: 49.5%;
    height: 96px;
    overflow: scroll;
    padding-top: .3em;
  }
}

@media only screen and (max-width: 700px) {
  #banner {
    padding-top: .7em;
  }

  #banner h1 {
    font-size: 1.5em;
    width: 100%;
  }
}


@media only screen and (max-width: 650px) {
  #banner {
    padding-top: .8em;
  }

  #banner h1 {
    font-size: 1.4em;
    width: 100%;
  }

  .edit_feature {
    display: block;
  }
}

@media only screen and (max-width: 570px) {
  #banner h1 {
    margin-top: .45em;
    visibility: hidden;
  }
  #banner h1:before {
    content: "PLRG";
    visibility: visible;
    font-size: 1.4em;
    width: 100%;
  }
}

@media only screen and (max-width: 490px) {
  .category, .topic, .resource{
    width: 100%;
  }
}
