/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url("british_museum_shade.jpg");
  background-size: cover;
  width: 100%;
  margin: 0;
}

#header {
  position: fixed;

  width: 98%;
  left: 1%;
  height: 90px;
  top: 0;
  box-sizing: border-box;

  border: 5px solid black;

  background: #969696;
  background: -moz-linear-gradient(top,  #969696 0%, #d2d2d2 100%);
  background: -webkit-linear-gradient(top,  #969696 0%,#d2d2d2 100%);
  background: linear-gradient(to bottom,  #969696 0%,#d2d2d2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#d2d2d2',GradientType=0 );

}

#content {
  background-color: #F4F5F9;
  margin: 100px 3% 0;
  padding: .5em;
  border: 5px solid black;
  width: 94%;
  right: 3%;
  box-sizing: border-box;
}

#slogan {
  background-color: #97C9E8;
  position: fixed;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

#title {
  padding: 0 0 0 3%;
  vertical-align: middle;
}

#header_welcome {
  font-size: 1.5em;
  color: blue;
  margin-top: 1em;
  position: fixed;
  top: 22px;
  right: 35px;

}

#flashnotice {
  width: 25%;
  margin-bottom: .2em;
  text-align: center;

  font: bold 1em Arial;
  background-color: red;
  border-radius: 2px;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

#login, #logout{
  text-align: right;
  position: fixed;
  z-index: 100;
  top: 17px;
  right: 35px;
}

#signup {
  position: fixed;
  top: 17px;
  right: 105px;
}

a#logout, a#login, a#signup {
  font: bold 1em Arial;
  background-color: #FCB757;
  border-radius: 5px;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

a#logout:hover {
  background-color: red;
}

a#login:hover, a#signup {
  background-color: lightgreen;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* Interactive CSS */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/


@media only screen and (max-width: 850px) {
  .user_links {
  width: 100%;
}


@media only screen and (max-width: 750px) {
  .category, .topic, .resource{
    width: 49.5%;
    height: 96px;
    overflow: scroll;
    padding-top: .3em;
  }
}

@media only screen and (max-width: 700px) {
  #banner {
    padding-top: .7em;
  }

  #banner h1 {
    font-size: 1.5em;
    width: 100%;
  }
}


@media only screen and (max-width: 650px) {
  #banner {
    padding-top: .8em;
  }

  #banner h1 {
    font-size: 1.4em;
    width: 100%;
  }

  .edit_feature {
    display: block;
  }
}

@media only screen and (max-width: 570px) {
  #banner h1 {
    margin-top: .45em;
    visibility: hidden;
  }
  #banner h1:before {
    content: "PLRG";
    visibility: visible;
    font-size: 1.4em;
    width: 100%;
  }
}

@media only screen and (max-width: 490px) {
  .category, .topic, .resource{
    width: 100%;
  }
}
