<% if can? :edit, @category %>
  <% title("Edit " + @category.name.capitalize) %>

  <%= render partial: "application/edit_object_instructions", locals: { object: @category } %>

  <div class="form">

    <%= form_for @category do |f| %>
    <% if can? :delete, @category %>
      <div class="destroy">
        <%= link_to 'Destroy',  @category,  method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
      <%= render partial: "application/form", locals: {f: f} %>
    <% end %>

  </div>
<% end %>
