
<title> <% title("Category Index") %> </title>
<%= link_to "Make a new category!", new_category_path %>

<%= render partial: "flashnotice", locals: { flash: flash } %>
<ul>
  <% @categories.each do |category| %>
    <li><%= render partial: "application/index", locals: { object: category } %></li>
  <% end %>
</ul>