
<% title("Category Index") %>
<%= link_to "Make a new category!", new_category_path %>

<ul>
  <% @categories.each do |category| %>
    <li><%= render partial: "application/index", locals: { object: category } %></li>
  <% end %>
</ul>
