
  <% title("New Category") %>

  <%= render partial: "application/new_object_instructions", locals: { object: @category } %>
  <br>

  <div class="form">

    <%= form_for(@category, remote: true) do |f| %>
      <%= render partial: "application/form", locals: {f: f} %>
    <% end %>

  </div>
