
<% title(@category.name.capitalize + "'s Subjects") %>

<%= render partial: 'application/navigation', locals: { object: @category } %>

<br><br>

<%= link_to "Make a new subject!", new_subject_path %>

<% if can? :edit, @category %>
  <%= link_to "Edit this category.", edit_category_path %> <br><br>
<% end %>

<ul>
  <% @category.subjects.each do |subject| %>
    <li><%= render partial: "application/index", locals: { object: subject } %></li>
  <% end %>
</ul>
