Category: <%= @category.name %>

<%= link_to "Make a new Subject!", new_subject_path %>


<ul>
  <%= @category.subjects.each do |subject| %>
    <li><%= render partial: "application/index", locals: { object: subject } %></li>
  <% end %>
</ul>