<% if defined? object.email %>
  <h3>Join the team! Please enter your infomation below.</h3>
<% else %>
  <h3 id="instructions">Create a new <%= object.class.name %>. Please make sure fields are origional!</h3>
<% end %>
